.icon {
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  transition: transform var(--duration-fast) var(--ease-out);
}

.xs {
  width: 14px;
  height: 14px;
}

.sm {
  width: 16px;
  height: 16px;
}

.md {
  width: 20px;
  height: 20px;
}

.lg {
  width: 24px;
  height: 24px;
}

.xl {
  width: 32px;
  height: 32px;
}
